extends ../layout/page

block content

	 
	.col-12
		h1: a(href='/item/'.$item->id) #{$item->title}
		small Published on #{$item->created()} by #{$item->author()->get_full_name()}
		p #{$item->description}

		ul
			each $category in $item->get_categories()
				li #{$category}