.item-image
	
	.actions: if (Account::get_id() == $item->user_id)
		a(href="/item/edit/".$item->id): .edit-icon: include ../svg/edit
		- Render::form('item', 'DELETE')
			input(type='hidden', name="id", value=$item->id)
			button.delete-icon(type='submit', name='item_delete'): include ../svg/delete
		- Render::formend()
			
	h1: a(href='/item/'.$item->id) #{$item->title}
.item-info
	.owner Published on #{$item->created()} by 
		a(href='/profile/'.$item->author()->username) #{$item->author()->get_full_name()}
	p #{$item->description}

	ul
		.categories-icon
			include ../svg/categories
		each $category in $item->get_categories()
			li: a(href=$source.'/category/'.$category) #{$category}